configuration (  
        master_exec_path = "/opt/synopsys-2017/app/icvalidator/M-2017.06-1/bin/linux64/icv_master",
        slave_exec_path = "/opt/synopsys-2017/app/icvalidator/M-2017.06-1/bin/linux64/icv_slave",
        engine_exec_path = "/opt/synopsys-2017/app/icvalidator/M-2017.06-1/bin/linux64/icv_engine",
        working_directory = "/DCNFS/users/student/yli1/ELEN153/lab4/synopsys_custom/pvjob_lab4.NAND.icv.lvs",
        run_details_directory = "/DCNFS/users/student/yli1/ELEN153/lab4/synopsys_custom/pvjob_lab4.NAND.icv.lvs/run_details",
        group_directory = "/DCNFS/users/student/yli1/ELEN153/lab4/synopsys_custom/pvjob_lab4.NAND.icv.lvs/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { linux60806, ""},
                 { linux60806, ""},
                 }
);
